<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> ORTHOTRAD Page Principale </title>
    <link rel="stylesheet" href="/templates/style.css">
</head>
<body>
    <form action="/" method="post">        
        <label for="input_content"> Instructions:</label>
        <textarea name="input_instructions" id="input_instructions" rows="20" cols="50" placeholder="Renseignez vos instructions ici... " required></textarea>
        <input type="submit" value="Traduire">
    </form>

    {% if chatgpt_response %}
        <p>{{ chatgpt_response }}</p>
    {% endif %}
</body>
</html>
