<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> ORTHOTRAD Page Principale </title>
    <link rel="stylesheet" href="/templates/style.css">
</head>
<body>
    <div id="header">Orthotrad.fr</div>
    <p>Intelligence Artificielle Orthodontique</p>

    <div class="form-container">
        <form action="/" method="post" onsubmit="document.getElementById('submit_button').value = 'Loading...';">        
            <div class="instruction-field">
                <label for="input_instructions"> Instructions:</label>
                <textarea name="input_instructions" id="input_instructions" rows="20" cols="50" placeholder="Renseignez vos instructions ici... " required></textarea>
            </div>
            <input type="submit" value="Traduire" id="submit_button">
        </form>
    </div>

    <div class="response-container">
        <label for="response_table"> Traduction: </label>
        <div id="response_table">
            {% if chatgpt_response %}
                <p>{{ chatgpt_response }}</p>
            {% endif %}
        </div>
    </div>

    <script>
    window.onload = function() {
        document.getElementById('submit_button').value = "Traduire";
    };
    </script>
</body>
</html>

