body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

textarea#input_instructions, #response_table {
    width: calc(50ch + 4px); /* ch is a CSS unit equal to the width of the "0" character */
    height: calc(20em + 4px); /* em is a CSS unit equal to the current font size */
    margin-right: 20px; /* gives some space between the textarea and the response */
}

#response_table {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 1em;
}

#response_table p {
    color: black; /* changes the font color to blue */
}
