body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.form-container {
    margin: 200px 20px 0px 0px;
}

.instruction-field {
    display: flex;
    flex-direction: column;
}

textarea#input_instructions {
    width: calc(50ch + 4px);
    height: calc(20em + 4px);
}

#response_table {
    width: calc(50ch + 4px);
    height: calc(20em + 4px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

#response_table p {
    color: black;
}

#response_table p {
    color: blue; 
}

